{% set is_public= hostvars[inventory_hostname].is_public|default(false) %}

server {
  listen 0.0.0.0:{{ proxy_port }};
  proxy_pass localhost:{{ relaychain_p2p_port }};
  proxy_pass localhost:{{ parachain_p2p_port }};
}

{% if is_public is sameas true %}
server {
  listen 0.0.0.0:{{ proxy_wss_port }};
  proxy_pass localhost:{{ parachain_ws_port }};
}
{% endif %}
